<%# TAKE IN -or- DISPLAY DATA to users %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>

  </body>
</html>

<form method="POST" action="/login">
  USERNAME: <input type="text" name="username">
  PASSWORD: <input type="text" name="password">
  
  <input type="submit">
</form>